In [18]:
# summarize the number of unique values for each column using numpy
from numpy import loadtxt
from numpy import unique
import requests
from pandas import read_csv
import pandas as pd

In [19]:
req = requests.get("https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv")
url_content = req.content
csv_file = open('oil-spill.csv', 'wb')

csv_file.write(url_content)
csv_file.close()

In [20]:
data_csv = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv", header=None)
print(data_csv.shape)

(937, 50)

In [21]:
data_csv.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [22]:
# Count according to rows
print("Count of all values wrt rows")
print(data_csv.count(axis=1))

Count of all values wrt rows
0      50
1      50
2      50
3      50
4      50
       ..
932    50
933    50
934    50
935    50
936    50
Length: 937, dtype: int64

In [23]:
#For the number of non-zeros in each row use
print(data_csv.astype(bool).sum(axis=1))

0      46
1      42
2      48
3      47
4      45
       ..
932    46
933    46
934    44
935    46
936    46
Length: 937, dtype: int64

In [24]:
#Count of unique values in each column
count = data_csv.nunique()
print(count)

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64

In [25]:
# record columns to delete
to_del = [i for i,v in enumerate(count) if v == 1]
print(to_del)

[22]

In [26]:
# drop useless columns
data_csv.drop(to_del, axis=1, inplace=True)
print(data_csv.shape)

(937, 49)